*,
*:before,
*:after {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  max-width: 100%;
  width: 100%;
  max-height: 100vh;
  height: 100vh;
  margin: 0;
  padding: 16px;
  background: url('/src/pictures/bg/curls.png');
  color: white;
  font-family: 'B612 Mono', monospace;
}

.title {
  margin-top: 16px;
  text-align: center;
}

.pictures {
  min-width: 288px;
  width: 100%;
  max-height: calc(100% - 90px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pictureContainer {
  width: 100%;
  height: calc(100% - 32px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  margin: 16px;
  text-align: center;
}

.name {
  font-weight: bold;
  font-size: 16px;
}

.author {
  font-size: 14px;
}

/* PICTURES */

.picture {
  position: relative;
  max-width: 600px;
  width: 100%;
  max-height: 600px;
  height: 100%;
  font-size: 0;
}

.figure {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  will-change: transform;
}

#id0 {
  background: #d2cec2;
}

#id0 .fig0 {
  top: 15%;
  left: 20%;
  max-width: 200px;
  max-height: 200px;
  width: 40vw;
  height: 40vw;
  background-image: url('/src/pictures/pic0/fig0.svg');
}

#id0 .fig1 {
  top: 56%;
  left: 47%;
  max-width: 120px;
  max-height: 120px;
  width: 30vw;
  height: 30vw;
  transform: rotate(-12deg);
  background-image: url('/src/pictures/pic0/fig1.svg');
}

#id1 {
  background: #d1ccc4;
}

#id1 .fig0 {
  top: 5%;
  left: 43%;
  max-width: 190px;
  max-height: 202px;
  width: 40vw;
  height: 40vw;
  background-image: url('/src/pictures/pic1/fig0.svg');
  z-index: 1;
}

#id1 .fig1 {
  top: 21%;
  left: 24%;
  max-width: 241px;
  max-height: 136px;
  width: 40vw;
  height: 40vw;
  background-image: url('/src/pictures/pic1/fig1.svg');
  z-index: 3;
}

#id1 .fig2 {
  top: 39%;
  left: 23%;
  max-width: 255px;
  max-height: 153px;
  width: 40vw;
  height: 40vw;
  background-image: url('/src/pictures/pic1/fig2.svg');
  z-index: 3;
}

#id1 .fig3 {
  top: 17%;
  left: 23%;
  max-width: 238px;
  max-height: 436px;
  width: 40vw;
  height: 40vw;
  background-image: url('/src/pictures/pic1/fig3.svg');
  z-index: 2;
}

#id1 .fig4 {
  top: 67%;
  left: 17%;
  max-width: 235px;
  max-height: 154px;
  width: 40vw;
  height: 40vw;
  background-image: url('/src/pictures/pic1/fig4.svg');
  z-index: 1;
}

/* GALLERY */

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.previewContainer {
  max-width: 250px;
  width: 250px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 8px;
  cursor: pointer;
}

.previewContainer img {
  transition: transform .3s;
}

.previewContainer:hover img {
  transform: translate(5px, 5px);
}

.preview {
  width: 250px;
  height: 250px;
}

.previewName {
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: bold;
}

.previewAuthor {
  margin-top: 4px;
  font-size: 12px;
}

.previewDescription {
  width: 100%;
}

#pre0 {
  background-image: url('/src/previews/pre0.svg');
}

#pre1 {
  background-image: url('/src/previews/pre1.svg');
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  .title {
    margin-top: 0;
    font-size: 16px;
  }

  .pictures {
    max-height: calc(100% - 32px);
  }

  .pictureContainer {
    flex-direction: column;
  }

  .description {
    margin-top: 0;
  }
}

.points {
  margin-bottom: 16px;
}
