*,
*:before,
*:after {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #263238;
  color: white;
  font-family: 'B612 Mono', monospace;
}

.title {
  margin-top: 32px;
  text-align: center;
}

.pictures {
  min-width: 288px;
  width: 100%;
  max-height: calc(100% - 90px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 32px; */
}

.pictureContainer {
  width: 100%;
  height: calc(100% - 32px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  margin: 16px;
  text-align: center;
}

.name {
  font-size: 18px;
  font-weight: bold;
}

.author {
  font-size: 14px;
}

/* PICTURES */

.picture {
  position: relative;
  width: 450px;
  min-height: 288px;
  height: 600px;
  margin: 0 16px;
  font-size: 0;
  box-shadow: 0 0px 45px rgba(0, 0, 0, 0.8);
  overflow: hidden;
}

.figure {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  will-change: transform;
}

#id0 {
  background: #d2cec2;
}

#id0 .fig0 {
  top: 90px;
  left: 90px;
  width: 200px;
  height: 200px;
  background-image: url('/src/pictures/pic0/fig0.svg');
}

#id0 .fig1 {
  top: 336px;
  left: 212px;
  width: 120px;
  height: 120px;
  transform: rotate(-12deg);
  background-image: url('/src/pictures/pic0/fig1.svg');
}

#id1 {
  background: #d1ccc4;
}

#id1 .fig0 {
  top: 30px;
  left: 194px;
  width: 190px;
  height: 202px;
  background-image: url('/src/pictures/pic1/fig0.svg');
  z-index: 1;
}

#id1 .fig1 {
  top: 126px;
  left: 108px;
  width: 241px;
  height: 136px;
  background-image: url('/src/pictures/pic1/fig1.svg');
  z-index: 3;
}

#id1 .fig2 {
  top: 234px;
  left: 104px;
  width: 255px;
  height: 153px;
  background-image: url('/src/pictures/pic1/fig2.svg');
  z-index: 3;
}

#id1 .fig3 {
  top: 102px;
  left: 104px;
  width: 238px;
  height: 388px;
  background-image: url('/src/pictures/pic1/fig3.svg');
  z-index: 2;
}

#id1 .fig4 {
  top: 402px;
  left: 77px;
  width: 235px;
  height: 154px;
  background-image: url('/src/pictures/pic1/fig4.svg');
  z-index: 1;
}

/* GALLERY */

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 32px;
}

.previewContainer {
  max-width: 250px;
  width: 250px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 8px;
  cursor: pointer;
}

.previewContainer img {
  transition: transform .3s;
}

.previewContainer:hover img {
  transform: translate(5px, 5px);
}

.preview {
  width: 250px;
  height: 250px;
}

.previewName {
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: bold;
}

.previewAuthor {
  margin-top: 4px;
  font-size: 12px;
}

.previewDescription {
  width: 100%;
}

#pre0 {
  background-image: url('/src/previews/pre0.svg');
}

#pre1 {
  background-image: url('/src/previews/pre1.svg');
}

/* MEDIA QUERIES */

@media screen and (max-width: 414px) {
  .name {
    margin-bottom: 8px;
  }

  .author {
    margin-top: 8px;
  }

  .picture {
    margin: 0 -16px;
  }

  .gallery {
    margin-top: -32px;
  }
}

@media screen and (max-width: 450px) {
  .picture {
    margin-top: -100px;
    transform: scale(0.7);
  }
}

@media screen and (max-width: 768px) {
  .title {
    margin-top: 16px;
    font-size: 20px;
  }

  .pictures {
    max-height: calc(100% - 32px);
  }

  .pictureContainer {
    flex-direction: column;
  }

  .description {
    margin-top: 0;
  }
}

.points {
  margin-bottom: 16px;
}
