*,
*:before,
*:after {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  max-width: 100vw;
  width: 100vw;
  max-height: 100vh;
  height: 100vh;
  margin: 0;
  padding: 16px;
  background: black;
  color: white;
  font-family: 'B612 Mono', monospace;
  /* overflow: hidden; */
}

.title {
  margin-top: 16px;
}

.pictures {
  width: 100%;
  max-height: calc(100% - 64px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cvs {
  min-width: 288px;
  max-width: calc(100vw - 32px);
  max-height: calc(100vh - 120px);
  margin: 0 auto;
  background: #ffffff;
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .title {
    margin-top: 0;
    font-size: 16px;
  }

  .pictures {
    max-height: calc(100% - 32px);
  }

  #cvs {
    max-height: calc(100vh - 60px)
  }
}
